@media screen and (min-width: 1170px){
	.main-container{
	  padding-left: 32px;
	  padding-right: 32px;
	}
	.page__box{
		margin-left: 304px;
	}
	.page__main{
 	 	margin-top: 2.4rem;
	}
	.header__mob{
		display: none;
	}
	.navigation__list-item{
		margin-top: 4px;
	  margin-left: 8px;
	  margin-right: 8px;
	}
	.navigation__list-item:first-of-type{
  	margin-top: 0;
	}
	.navigation__list-item:hover{
  	background-color: #181C28;
	}
	.navigation__link{
		padding-left: 40px;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	background-position-y: center;
  	background-position-x: 17px;
  	background-size: 10px;
	}
	.navigation__link_active{
	  background-color: #181C28;
	  border-radius: 4px;
	  color: #fff;
	}
	.icon-tur{
    background-image: url(../img/menu_icon_tournaments.svg);
	}
	.icon-tur_active{
    background-image: url(../img/menu_icon_tournaments_active.svg);
	}
	.icon-matches{
    background-image: url(../img/menu_icon_matches.svg);
	}
	.icon-matches_active{
    background-image: url(../img/menu_icon_matches.svg);
	}
	.icon-mixes{
    background-image: url(../img/menu_icon_mixes.svg);
	}
	.icon-mixes_active{
    background-image: url(../img/menu_icon_mixes_active.svg);
	}
	.icon-teams{
    background-image: url(../img/menu_icon_teams.svg);
	}
	.icon-teams_active{
    background-image: url(../img/menu_icon_teams_active.svg);
	}
	.icon-players{
    background-image: url(../img/menu_icon_users.svg);
	}
	.icon-players_active{
    background-image: url(../img/menu_icon_users_active.svg);
	}
	.navigation__list-item_mian{
		display: none;
	}
	.header__logo{
		display: none;
	}
	.header__menu{
		display: none;
	}
	.tournament__column{
		padding-top: 20px;
	}
	.short-info__item:before{
	  position: absolute;
	  content: '';
	  right: 5px;
	  top: 50%;
	  width: 1px;
	  height: 24px;
	  background: #333A4F;
	  transform: translateY(-50%) rotate(30deg);
	}
	.short-info__item{
	  position: relative;
	  padding-right: 2.9rem;
	  margin-right: 16px;
	}
	.short-info__item:last-of-type{
	  margin-right: 0;
	  padding-right: 0;
	}
	.short-info__item_mob{
		display: none;
	}
	.time__value{
	  font-size: 28px;
	  line-height: 32px;
	  margin-top: 8px;
	}
	.tournament__infobox{
	  display: flex;
	  align-items: flex-start;
	}
	.grid{
	  display: flex;
	  flex-wrap: wrap;
	}
	.grid_1 .grid__item{
	  width: 100%; 
	  margin-top: 32px;
	}
	.grid_1 .grid__item:first-of-type{
	  margin-top: 0;
	}
	.grid_2 .grid__item{
	  width: 49.4%;
	}
	.grid_2 .grid__item:nth-child(2n+2){
	  margin-left: 0.8%; 
	}
	.grid_2 .grid__item:nth-child(n+3){
	  margin-top: 32px; 
	}
	.grid_3 .grid__item{
	  width: 31.7%;
	  margin-right: 2.4%;
	}
	.grid_3 .grid__item:nth-child(3n+3){
	  margin-right: 0; 
	}
	.grid_3 .grid__item:nth-child(n+4){
	  margin-top: 32px; 
	}
}
@media screen and (max-width: 1169px){
	p{
	  font-size: 12px;
	  line-height: 18px;
	}
	.main-container{
	  padding-left: 16px;
	  padding-right: 16px;
	}
	.page__box{
		margin-top: 60px;
	}
	.breadcrumb{
		padding-bottom: 12px;
		box-shadow: inset 0px -1px 0px #1F2433;
	}
	.sidebar__box{
		display: none;
	}
	.sidebar__column{
		width: 0;
	}
	.sidebar__text{
		display: none;
	}
	.navigation{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		box-shadow: inset 0px 1px 0px #1F2433;
		background: #131721;
		z-index: 998
	}
	.navigation__list{
		display: flex;
		margin-top: 0;
		justify-content: space-between;
	}
	.navigation__list-item{
		flex: 1 0 0;
	}
	.navigation__link{
	  	padding-top: 30px;
	  	padding-bottom: 4px;
	  	background-position-y: 10px;
	  	background-position-x: center;
	  	background-size: 16px;
	  	text-align: center;
	  	font-size: 11px;
	}
	.navigation__link_active{
	  color: #fff;
	  fill: #fff;
	}
	.icon-main {
		background-image: url(../img/menu_icon_main.svg);
	}
	.icon-main_active {
		background-image: url(../img/menu_icon_main_active.svg);
	}
	.icon-tur{
		background-image: url(../img/menu_icon_tournaments.svg);
	}
	.icon-tur_active{
		background-image: url(../img/menu_icon_tournaments_active.svg);
	}
	.icon-matches{
		background-image: url(../img/menu_icon_matches.svg);
	}
	.icon-matches_active{
		background-image: url(../img/menu_icon_matches.svg);
	}
	.icon-mixes{
		background-image: url(../img/menu_icon_mixes.svg);
	}
	.icon-mixes_active{
		background-image: url(../img/menu_icon_mixes_active.svg);
	}
	.icon-teams{
		background-image: url(../img/menu_icon_teams.svg);
	}
	.icon-teams_active{
		background-image: url(../img/menu_icon_teams_active.svg);
	}
	.icon-players{
		background-image: url(../img/menu_icon_users.svg);
	}
	.icon-players_active{
		background-image: url(../img/menu_icon_users_active.svg);
	}
	.page__header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 8px 16px;
		background: #131721; 
		box-sizing: border-box;
		z-index: 999
	}
	.header__search{
		display: none;
	}
	.header__logo{
		flex: 1 0 0;
		width: 24px;
	}
	.header__logo-img{
		width: 24px; 
		margin-left: calc(50% + 14.5px);
	}
	.header__btn{
	    cursor: pointer;
	    background: none;
	    border: none;
	    background-image: url(../img/burger.svg);
	    background-repeat: no-repeat;
	    width: 16px;
	    height: 12px;
	    text-indent: -9999px;
	    background-size: 16px;
	}
	.header__user{
		width: 32px;
	    height: 32px;
	    margin-left: 24px; 
	}
	.header__menu{
		position: relative;
	}
	.header__mob.active{
		transform: translateX(0);
	}
	.header__mob{
	  	margin: 0;
	    list-style-type: none;
	    display: flex;
	    flex-direction: column;
	    position: fixed;
	    text-align: left;
	    top: 48px;
	    left: 0;
	    width: 300px;
	    box-sizing: border-box;
	    bottom: -56px;
	    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.35);
	    z-index: 999;
	    transform: translateX(-105%);
	    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
	    background: #131721;
	    height: calc(100vh - 48px);
	}
	.header__search-mob{
		border-bottom: 1px solid #1F2433;
	}
	.header__search-mob .search__inputbox{
		width: 100%;
	}
	.header__search-mob .search__input{
		padding: 15px 80px 15px 16px;
		font-size: 12px;
		line-height: 18px;
	}
	.header__games{
		margin-top: 16px;
		padding-left: 16px;
		flex-grow: 1;
	}
	.header__games .games__link{
		margin: 0;
	}
	.page__info{
		margin-top: 16px;
	}
	.tournament__header{
		display: block;
		padding: 16px 15px 0;
		box-shadow: none;
		border-top: 1px solid #1F2433;;
	}
	.tournament__menu{
	    order: -1;
	    margin-top: 0;
	}
	.menu{
		position: relative;
		overflow-x: scroll;
	    overflow-y: hidden;
	    padding-bottom: 16px;
	}
	.menu::-webkit-scrollbar {
	    display: none;
	}
	.menu__link {
	    white-space: nowrap;
	}
	.tournament__title{
		margin-top: 10px;
		font-size: 20px;
		line-height: 24px;
	}
	.tournament__short-info{
		margin: 16px -15px 0;
		flex-wrap: wrap;
	}
	.short-info__item{
		width: 50%;
		padding: 8px 16px;
		box-sizing: border-box;
		border-top: 1px solid #1F2433;
		border-bottom: 1px solid #1F2433;
		border-right: 1px solid #1F2433;
	}
	.short-info__item:nth-child(n+3){
		border-top: none;
	}
	.short-info__item:nth-child(2n+2){
		border-right: none;
	}
	.short-info__value{
		font-size: 14px;
		line-height: 16px;
	}
	.tournament__time{
		margin: 16px auto 0;
		width: 100%;
	}
	.tournament__infobox{
		margin-top: 16px;
	}
	.teams-tur{
		display: none;
	}
	.info__content{
		margin-top: 8px;
	}
	.info__item:not(:first-of-type){
 		margin-top: 16px;
	}
	.time{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.time__value{
		font-size: 20px;
		line-height: 24px;
		margin-top: 4px;
	}
	.time__text{
		font-size: 12px;
		line-height: 16px;
	}
	.time__btn{
		margin-top: 12px;
	}
	.prize__item:not(:first-of-type){
		margin-top: 8px;
	}
	.grid__item:not(:first-of-type){
		margin-top: 16px;
	}
	.tickets .grid__item:not(:first-of-type){
		margin-top: 0;
	}
	.tickets.grid{
		display: flex;
		flex-wrap: wrap;
	}
	.tickets .grid__item{
		width: 49%;
	}
	.tickets .grid__item:nth-child(n+3){
		margin-top: 16px;
	}
	.tickets .grid__item:nth-child(2n+2){
		margin-left: 2%;
	}
	.groups__title-item{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 4px;
	}
	.group__name{
		font-size: 12px;
		line-height: 16px;
	}
	.group__pic{
	  min-width: 24px;
	  max-width: 24px;
	  height: 24px;
	}
	.table-mob{
		display: none;
	}
	.tour-list__table{
		margin-top: 16px;
	}
	.tour-list__table-tickets{
		margin-top: 16px;
	}
	.footer{
		display: none;
	}
}
@media screen and (max-width: 620px) {
  	.header__mob{
    	width: 100%;
	}
	.tour-list__tabs{
		display: block;
	}
	.tour-list_tab{
		margin-top: 8px;
	}
	.tickets .grid__item{
		width: 100%;
	}
	.tickets .grid__item:nth-child(n+3){
		margin-top: 0;
	}
	.tickets .grid__item:nth-child(2n+2){
		margin-left: 0;
	}
	.tickets .grid__item:not(:first-of-type){
		margin-top: 10px;
	}
}
@media screen and (max-width: 580px) {
  	.tour-list__header{
  		display: block;
  	}
  	.tour-list__header .btn{
  		margin-top: 10px;
  		display: inline-block;
  	}
}